html{
	height: 100%;
	overflow: visible;
}

body{
	color: #fff;
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 1200px;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Luna";
	background-attachment: fixed;
	background-image: url(../images/nairobi-city3.jpg);
	text-align: center;
}

h1{
	font-family: "Luna";
	font-size: 2.4rem;
	position: absolute;
	color: #009f8b;
	text-align: center;
	top: 10%;
	left: 40%;
}

h2{
	font-family: "Luna";
	position: absolute;
	color: #009f8b;
	text-align: center;
	top: 15%;
	left: 30%;
}

h6{
	font-family: "Luna";
	color: #009f8b;
}

p{
	color: black;
}
/*Loader code*/
/* Center the loader */
/*
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #009f8b;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
*/

.navigation{
	background-color: #000;
}
/*Home page code*/
#grid ul{
	position: absolute;
	top: 35%;
	left: 45%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	width: 600px;
	height: 300px;
}
#grid ul li{
	list-style: none;
	position: absolute;
	width: 200px;
	height: 200px;
	background: #000;
	margin: -25px;
	transform: rotate(45deg);
	transition: .5s;
	opacity: 0.6;
}

#grid ul li:hover{
	opacity: 1;
}

#grid ul li.item1{
	top: 0;
	left: 0;
	background: url(../Images/construction1.jpg);
	background-size: cover;
}

#grid ul li.item2{
	bottom: 0;
	left: 25%;
	background: url(../Images/construction3.jpg);
	background-size: cover;
}

#grid ul li.item3{
	top: 0;
	left: 50%;
	background: url(../Images/construction2.jpg);
	background-size: cover;
}

#grid ul li.item4{
	bottom: 0;
	left: 75%;
	background: url(../Images/construction4.jpg);
	background-size: cover;
}

#grid ul li.item5{
	top: 0;
	left: 100%;
	background: url(../Images/construction5.jpg);
	background-size: cover;
}

#grid ul li.tr{
	width: 100%;
	height: 100%;
}

.fullscreen-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg_video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-aspect-ratio: 16/9){
	.fullscreen-bg_video{
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9){
	.fullscreen-bg_video{
		width: auto;
		height: 100%;
	}
}


.navigation{
	position:fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.logo{
	float: left;
	color: #fff;
	font-family: Courier;
	font-size: 26px;
	line-height: 80px;
	padding: 0 6em;
}

.menu{
	float: right;
	line-height: 50px;
	margin-right: 10px;
}

.menu ul{
	list-style: none;
}

.menu ul li{
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: lighter;
	padding: 0 20px;
}

ul li:nth-child(5) a,
ul li:nth-child(6) a {
	color: #009f8b;
	border: 1px solid #009f8b;
	padding: 10px 20px;
	border-radius: 4px;
}

.main{
	width: 100%;
	height: 700px;
	background: #faebd7;
	color: #fff;
	top: 60%;
	position: absolute;
	box-sizing: border-box;
	opacity: 1;
	border-radius: 8px;
	padding: 70px 30px;
}

.container1{
	width: 320px;
	height: 500px;
	background: white;
	color: #fff;
	top: 50%;
	float: left;
	position: absolute;
	transform: translate(-50%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
	margin-left: 20%; 
}

.container2{
	width: 320px;
	height: 500px;
	background: white;
	color: #fff;
	top: 50%;
	left: 30%;
	position: absolute;
	transform: translate(37%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

.container3{
	width: 320px;
	height: 500px;
	background: white;
	color: #fff;
	top: 50%;
	right: 20%;
	position: absolute;
	transform: translate(50%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

.icon1{
	width: 240px;
	height: 130px;
}

.icon2{
	width: 210px;
	height: 120px;
}

.icon3{
	width: 240px;
	height: 130px;
}
/*End of home page code*/

/*Listing page code*/
#container4{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 45%;
	float: left;
	position: absolute;
	transform: translate(-50%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
	margin-left: 20%; 
}

#container5{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 45%;
	left: 30%;
	position: absolute;
	transform: translate(37%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

#container6{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 45%;
	right: 20%;
	position: absolute;
	transform: translate(50%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

#container7{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 75%;
	float: left;
	position: absolute;
	transform: translate(-50%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
	margin-left: 20%; 
}

#container8{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 75%;
	left: 30%;
	position: absolute;
	transform: translate(37%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

#container9{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 75%;
	right: 20%;
	position: absolute;
	transform: translate(50%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}


#container10{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 105%;
	float: left;
	position: absolute;
	transform: translate(-50%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
	margin-left: 20%; 
}

#container11{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 105%;
	left: 30%;
	position: absolute;
	transform: translate(37%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

#container12{
	width: 320px;
	height: 350px;
	background: #faebd7;
	color: #fff;
	top: 105%;
	right: 20%;
	position: absolute;
	transform: translate(50%,-60%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

.listing1{
	width: 240px;
	height: 130px;
	left: 10%;
}

.listing2{
	width: 240px;
	height: 130px;
	left: 10%;
}

.listing3{
	width: 240px;
	height: 130px;
	left: 10%;
}

.listing4{
	width: 240px;
	height: 130px;
	left: 10%;
}

.listing5{
	width: 240px;
	height: 130px;
	left: 10%;
}

.listing6{
	width: 240px;
	height: 130px;
	left: 10%;
}

.listing7{
	width: 240px;
	height: 130px;
	left: 10%;
}

.listing8{
	width: 240px;
	height: 130px;
	left: 10%;
}

.listing9{
	width: 240px;
	height: 130px;
	left: 10%;
}
/*End of listing page code*/


/*Contact page css code*/
.contactbox{
	width: 320px;
	height: 420px;
	background: #faebd7;
	color: #fff;
	top: 38%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

#hello{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.contactbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.contactbox input{
	width: 100%;
	margin-bottom: 20px;
}

.contactbox input[type="text"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.contactbox textarea[type="text"]{
	width: 250px;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.contactbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #009f8b;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.contactbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.contactbox a:hover
{
	color: #ffc107;
}
/*end of contact page code*/

/*About page css code*/
.AboutContainer{
	width: 700px;
	height: 420px;
	background: #faebd7;
	color: #fff;
	top: 38%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

#Us{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.AboutContainer p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.icon4{
	width: 210px;
	height: 120px;
}
/*End of about page code*/

/*Login page code*/
.loginbox{
	width: 320px;
	height: 420px;
	background: #faebd7;
	color: #fff;
	top: 38%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

#login{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #009f8b;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a:hover
{
	color: #ffc107;
}
/*end of login page code*/

/*Register page code*/
.registerbox{
	width: 320px;
	height: 420px;
	background: #faebd7;
	color: #fff;
	top: 38%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 8px;
	padding: 70px 30px;
}

#reg{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.registerbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.registerbox input{
	width: 100%;
	margin-bottom: 20px;
}

.registerbox input[type="text"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.registerbox input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.registerbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #009f8b;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.registerbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.registerbox a:hover
{
	color: #ffc107;
}
/*End od register page code*/
.footer{
	width: 100%;
	height: 30px;
	background: #000;
	color: #fff;
	top: 150%;
	position: absolute;
	box-sizing: border-box;
	opacity: 1;
	padding: 40px 30px;
	}

#footer{
	position: absolute;
	color: #009f8b;
	left: 43%;
	bottom: 8%;
}

/*
 #loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
  }
  
  #loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  #loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
  }
  
  #loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  #loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @-webkit-keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px;
    }
  }
  
  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px;
    }
  }
*/




































/*header, header:before{
	background: 50% 50% / cover;
}

header::before{
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background-image : url();
	background-size: cover;
	transform-origin: center;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	max-height: 100vh;
}

header * {
	font-weight: normal;
	letter-spacing: 0.2em;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}
*/
